// USER VARIABLES SECTION
$accent: #0364bf; // Accent Color
$fontsize: 18px; // Body Font Size
$textcolor: #333; // Text Color
$lineheight: 1.65; // Document Line Height
$userfont: Nunito-Regular, sans-serif; // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$baseMenuBackground: #0565BC;
$secondaryMenuBackground: blue;

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 30px;
$gutter: $grid-gutter-width;

// IMPORT SECTION

@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss' ;// Bootstrap Reboot collection
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss'; // Bootstrap Breakpoints mixin
@import 'node_modules/bootstrap/scss/bootstrap-grid.scss' ;//; Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss'; //; Optional Bootstrap Utilites

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl){	
	@font-face{
	font-family: $fname;
	font-style: $fstyle;
	font-weight: $fweight;
	src: url($furl) format('woff2');
}
}

//Примерно, так как у каждого шрифта свои значения...
// 100 – Thin || Hairline
// 200 – Extra Light || Ultra Light || Thin
// 300 – Light
// 400 – Normal || Regular
// 500 – Medium
// 600 – Semi Bold || Demi Bold
// 700 – Bold
// 800 – Extra Bold || Ultra Bold || Heavy
// 900 – Black || Heavy


@include font('roboto-oh5', normal, 400, '../fonts/roboto-regular-webfont.woff2');
@include font('roboto-oh5', italic, 400, '../fonts/roboto-italic-webfont.woff2');
@include font('roboto-oh5', normal, 700, '../fonts/roboto-bold-webfont.woff2');
@include font('roboto-oh5', italic, 700, '../fonts/roboto-bolditalic-webfont.woff2');

@include font('Nunito-Regular', normal, 400, '../fonts/Nunito-Regular.ttf');
@include font('Lobster-Regular', normal, 400, '../fonts/Lobster-Regular.ttf');
@include font('Nunito-Italic', italic, 700, '../fonts/Nunito-Italic.ttf');
@include font('Nunito-Bold', bold, 700, '../fonts/Nunito-Bold.ttf');
// GENERAL DOCUMENT STYLES

::placeholder{
	
	color: #666;
}

::selection{
	
	background-color: $accent;
	color: #fff;
}

input, textarea
{	
	outline: none;
	&:focus:required:invalid
	{
		border-color: red;
	}
		
	&:required:valid{
		border-color: green;
	}
		

}


body{
	font-family: $userfont;
	font-size: $fontsize;
	line-height: $lineheight;
	color: $textcolor;
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}
